.TextoXX{
    margin-block: 90px;
    font-size: 5rem;
}
.logoSmallBlack{
    padding: 10px;
}
.Flex{
    margin-block: 90px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagen{
    height:30vh;
    width: 30vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0.1px rgb(55, 55, 55);
}
.imagenBack{
    height:20vh;
    width: 20vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.carrusel{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.backImages{
    position:absolute;
    z-index: -1;
    filter: blur(5px);
}
.boton{
    padding-inline: 20px;
    background-color:unset;
    border-style: none;
}